.navbar{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    font-size: 16pt;
    width:100vw;
    height:17vh;
    background-color:rgb(59, 104, 36);
    margin:0;
    padding:0;
    
}
.titre{
    float: left;
    margin-left: 10ch;
}
.heure{
    float: right;
    margin-right: 10ch;
}
.tableau{
    display: inline-block;
    
}
span{
    display: inline-block;
}