body {
    background-color: #0A031C;
    color: whitesmoke;
    font-size: max(16pt, 0pt);
    margin-inline: 0;
    padding: 0;
    width:100vw;
    height:100vh;
}

.wrapper{
    grid-template-rows: auto 1fr auto;

}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: max(20pt, 0pt);
    background-color: midnightblue;
    width:100%;
    height:17vh;
    /* background-color:rgb(59, 104, 36); */
    margin:0;
    padding:0;
    
}
.titre{
    float: left;
    margin-left: 10ch;
    padding: 0.5em 0;
    padding-left: max(1.5em, 3em);
}
.heure{
    float: right;
    margin-right: 10ch;
}
.tableau{
    display: inline-block;
    
}
span{
    display: inline-block;
}