/* App-wide styling */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #4d4646ff;
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size:16pt
}

#header {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height: 17vh;
    font-weight: bold;
    font-size:15%
}

.current_time{
    text-align: right;
}

.line {
    display: flex;
    flex-direction: column;
    height: 1.5em;
    border-radius: 3px;
    background-color: rgb(150, 175, 116);
}

.line-number {
    width: 3ch;
    text-align: right;
    border: 0 solid;
    border-radius: 0.5em;
    background-color: dodgerblue;
    color: whitesmoke;
}

.line-departures {
    text-align: right;
}


.trip-cancelled{
    text-decoration: underline;
}

.trip-realtime{
    text-decoration: underline;
    color: yellow;
}

.trip{
    width: 10%;
}