@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Fira Sans Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vmin;
    margin: 3vmin;
    overflow: hidden;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 4vmin;
}
.title {
    font-size: 8vmin;
    font-weight: bold;
}
.time {
    text-align: right;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vmin;
}
.line-info {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}
.line-number {
    display: inline-block;
    padding: 0.5vmin;
    border: 0.5vmin solid;
    border-radius: 1vmin;
}
.line-label {
    display: inline-block;
    margin-left: 2vmin;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-departures {
    display: flex;
    column-gap: 4vmin;
    padding-left: 4vmin;
    white-space: nowrap;
}

.trip.trip-cancelled {
    color: #ff0000;
    text-decoration: line-through;
}
.trip-content {
    position: relative;
}
.live-icon {
    position: absolute;
    top: -0.5vmin;
    right: -2.5vmin;
    width: 3vmin;
    height: 3vmin;
}
