@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #4d4646ff;
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Fira Sans Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vmin;
    margin: 3vmin;
}
#header {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 17vh;
    font-weight: bold;
    font-size:15%
}
.title {
    font-size: 8vmin;
    font-weight: bold;
}
.time {
    text-align: right;
}

/* App-wide styling */
.current_time{
    text-align: right;
}

.line {
    display: flex;
    flex-direction: column;
    height: 1.5em;
    border-radius: 3px;
    background-color: rgb(150, 175, 116);
    margin-top: 3px;
}

.line-number {
    width: 3ch;
    text-align: right;
    border: 0 solid;
    border-radius: 0.5em;
    background-color: dodgerblue;
    color: whitesmoke;
}

.line-departures {
    text-align: right;
}


.trip-cancelled{
    text-decoration: underline;
}

.trip-realtime{
    text-decoration: underline;
    color: yellow;
}

.trip{
    width: 10%;
}